html{
    height: 100%;
    width: 100%;
    margin: 0;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
}

#base{
    display: flex;
    height: 100%;
    width: 100%;
}

#menuBarContainer{
    width: 15%;
    border: 2pt black solid;
    
}

#listAndTaskContainer{
    height: 100%;
    width: 85%;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Tiny_Babbling_Brook.jpg/2560px-Tiny_Babbling_Brook.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

#menuBarContainer{
    display: flex;
    flex-direction: column;
    gap: 10%;
}

#listHeaderContainer{
    display: flex;
    justify-content: space-between;
    padding: 5pt;
}

.listHeaders{
    font-size: 20pt;
    margin-bottom: 10pt;
}

#listAndTaskContainer{
    display: flex;
    align-items:flex-end;
}

#listDisplayBox{
    height: 500pt;
    width: 300pt;
    background-color: white;
    margin-left: 7%;
    margin-bottom: 4%;
    border: 1pt grey inset;
    border-radius: 4%;
}

#listDisplayBox{
    display: flex;
    flex-direction: column;
}

#listDisplayTaskbar{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

#listExitBtn{
    height: fit-content;
}

#taskDisplayContainer{
    height: 90%;
    width: 100%;
}