html{
    height: 100%;
    width: 100%;
    margin: 0;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
}

#base{
    display: flex;
    height: 100%;
    width: 100%;
}

#menuBarContainer{
    width: 15%;
    border: 2pt black solid;
    
}

#taskAndListContainer{
    height: 100%;
    width: 85%;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Tiny_Babbling_Brook.jpg/2560px-Tiny_Babbling_Brook.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items:flex-end;
}

#menuBarContainer{
    display: flex;
    flex-direction: column;
    gap: 10%;
}

#listHeaderContainer{
    display: flex;
    justify-content: space-between;
    padding: 5pt;
}

.listHeaders{
    font-size: 20pt;

}



#popoutBox{
    height: 500pt;
    width: 300pt;
    background-color: white;
    margin-left: 7%;
    margin-bottom: 4%;
    border: 1pt grey inset;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
}


#listDisplayTaskbar{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

#listExitBtn{
    height: fit-content;
}


#taskDisplayContainer{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    height: 80%;
    width: 100%;
    gap: 10pt;
}

.task{
    margin: 0;
}


#inputContainer{
    display: flex;
    gap: 4%;
    padding-top: 5pt;
    height: 10%;
    width: 100%;
}

#newTaskInput{
    border-radius: 15px;
    border: 1pt blue solid;
    margin-left: 2pt;
    height: 60%;
    width: 85%;
}

#addTaskBtn{
    border-radius: 15px;
    background-color: white;
    border: 1pt blue solid;
    height: 70%;
    width: 10%;
    margin: 0;
    margin-right: 3pt;
}
